/** {
	border: 1px solid brown;
}*/
.header {
	background-color: black;
	color: white;
	padding-bottom: 10px;
	border-radius: 10px;
	margin: 0;
}
.navBtn {
	float: right;
	color: #EDB300;
	padding: 15px;
	margin: 0;
}
.product-list {
	background-color: #0074D1;
	width: 80%;
	margin: 0px 9%;
	border-radius: 10px;
	padding: 15px;
	border: 2px solid black;
}
.product-box {
	background-color: white;
	width: 80%;
	margin:3% 9%;
	border-radius: 10px;
	padding: 15px;
}
.add-product {
	background-color: white;
	border: 3px solid black;
	border-radius: 10px;
	padding: 15px;
	width: 50%;
}
.productHeads {
	font-weight: bold;
}
.review-box {
	border: 3px solid black;
	border-radius: 10px;
	padding: 10px;
}