<div class="header">
	<h1>
	<img style="width:100px; paddding:0; margin-left: 260px;" src="http://orig08.deviantart.net/1bcc/f/2011/202/e/0/superman_icon_4_by_jeremymallin-d417qjg.png" alt="">
				<span style="margin-left:150px;">ADMIN PAGE</span>
	<a class="navBtn" href="/#/admin">Admin</a>
	<a class="navBtn" href="/#/home">Home</a>
	</h1>
	<hr>
</div>
<br>
<div class="product-list">
	<div class="adminController">
		<button ng-click="addProductBtn()">Add product</button>
		<button ng-click="editProductBtn()">Edit</button>
		<br>
		<br>
		<div class="add-product" ng-show="addProduct">
			<h2>Add a Product</h2>
			<form action="">
				New name:
				<input ng-model="product.name" type="text">
				<br>
				<br> New manufacture:
				<input ng-model="product.manufacture" type="text">
				<br>
				<br> New weight:
				<input ng-model="product.weight" type="text">
				<br>
				<br> New description:
				<textarea ng-model="product.description" name="" id="" cols="70" rows="4"></textarea>
				<br>
				<button ng-click="submitNewProduct()">Submit</button>
			</form>
		</div>
	</div>
	<div class="product-box" ng-repeat="product in products">
		<ul>
			<li>
				<h2>{{product.name}}</h2>
				<br> <big class="productHeads">Manufacture:</big> {{product.manufacture}}
				<br>
				<br> <big class="productHeads">Weight:</big> {{product.weight}}
				<br>
				<br> <big class="productHeads">Description/Destructive capabilities:</big> {{product.description}}
				<br>
				<br>
				<button ng-click="showReviews()">See reviews</button>
				<br>
				<br>
				<div class="review-box" ng-show="showReview" ng-repeat="review in product.reviews | date: 'M/d/yy' ">
					<big>By:</big> {{review.reviewer}}
					<br> <big>Rating out of 10:</big> {{review.rating}}
					<br> <big>Description:</big> {{review.desc}}
					<br> <big>Date:</big> {{review.date}}
					<br>
					<br>
					<button>Add review</button>
				</div>
			</li>
		</ul>
		<div ng-show="editProduct">
			<button ng-click="deleteProduct(product._id)">Delete</button>
			<button ng-click="editProduct()">Edit Product</button>
			<div style="margin:3%;" class="add-product" ng-show="updateProduct">
				<h2>Update a Product</h2>
				<big style="color:red;">*please fill out all required fields*</big>
				<br>
				<br>
				<form action="">
					<big>New name:</big>
					<input ng-model="product.name" type="text">
					<br>
					<br> <big>New manufacture:</big>
					<input ng-model="product.manufacture" type="text">
					<br>
					<br> <big>New weight:</big>
					<input ng-model="product.weight" type="text">
					<br>
					<br> <big>New description:</big>
					<textarea ng-model="product.description" name="" id="" cols="60" rows="4"></textarea>
					<br>
					<button ng-click="submitUpdatedProduct(product._id)">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>